header{
  margin: 40px;
  font-size: 40pt;
  text-align: center;
}

li{
  display: inline;
}

a:visited{
  color: black;
}

a {
  color: black;
  text-decoration: none;
  padding: 1em;
}

nav{
  padding: 1em;
  background-color: pink;
  text-align: center;
}

.navTitle a:hover{
  background-color: whitesmoke;
  font-size: 20pt;
  
}

body{
  font-family: 'Roboto', sans-serif;
}

#valentinesAd {
  height: 300px;
  width: 300px;
  float:right;
  margin: 30px;
}

h1{
  text-align: center;
}

main{
  padding: 15px;
  margin-right: 10%;
  margin-left: 10%;
}

div{
  float: left;
}

@media screen and (min-width: 992px){
  #page {
    background-color: #eddee1;
  }
}